.form-container {
   display: flex;
   justify-content: space-around;
}

.form-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 5%;
}

.first-name {
    grid-column: 1;
    grid-row: 1;
}

.last-name {
    grid-column: 2;
    grid-row: 1;
}

.birth {
    grid-column: 1/3;
    grid-row: 2;
}

.username {
    grid-column: 1;
    grid-row: 3;
}

.password {
    grid-column: 2;
    grid-row: 3;
}

.email {
    grid-column: 1/3;
    grid-row: 4;
}

.register {
    grid-column: 1/3;
    grid-row: 7;
}


